* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Sanchez', serif;
    font-size:calc(9px + 0.5vw);
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

.hidden {
    opacity: 0;
}

.ball {
    border: solid 1px grey;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .run-animation {
    animation: my-animation 2s ease;
  }
  
  @keyframes my-animation {        
    0% {
      width:16px
    }
    50% {
      width: 40px
    }
    100% {
      width: 16px;
    }
    }

.big-heading {
    font-size:calc(20px + 4vw);
    font-family: 'Sofia', cursive;
    color: rgba(254,181,78, 1);
    text-shadow: 4px 2px 8px black;
}

.letters {
    font-size:calc(8px + 1vw);
    line-height: 0;
    padding-top: 0;
}

.logo {
    font-size:calc(9px + 0.85vw);
}

@media screen and (max-width: 400px) {

    .vegas-container {
        width: 200px!important;
        height: 200px!important;
    }
}

h1 {
    font-size:calc(8px + 2.5vw);
}

h2 {
    font-size:calc(6px + 2vw);
}

h2, h5 {
    font-family: 'Sofia', cursive;
    padding-top: 10px; 
}

h1, h3 {
    font-family: 'Quicksand', sans-serif;
    padding-top: calc(17px + 1vw);
}

h1:hover {
    cursor: pointer;
}

.line {
background: #a37854;
width: calc(35px + 12vw);
height: 5px;
border-radius: 3px;
margin: 0 auto 20px;
transition: all 1.5s ease-in-out;
}
.line.menu {
    width: calc(20px + 7vw);
}
.line.about {
    width: calc(30px + 11.5vw);
}
.line.location {
    width: calc(50px + 20vw);
}
.line.booking {
    width: calc(50px + 18vw);
}

.line.active {
width: calc(20px + 3vw);
cursor: pointer;
}

.title {
    position: absolute;
    font-size: 2.5vw;
    z-index: 3;
    color: white;
    margin: 15% 0 0 12%;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(133,125,121, 0.2);
    padding: 0 20px 0;

}

.ml6 {
    position: relative;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


img.cafe {
    width: 100%;
    height: auto;
    opacity: 0.70;
}

.modal-dialog {
    width: 50vw;
    margin: 0 auto;
}

.gif {
    width: 100%;
    height: auto;
    background-color: rgba(133,125,121, 0.75);
    border-radius: 5px;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 20px;
}

.menu-items {
    display: inline-block;
    text-align: left;
    max-width: 360px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
ul {
    padding: 20px 25px 5px 40px;
}
li {
    line-height: 1.8;
}
/* needs to set height & width to make the container visible */
.vegas-container {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    transition: all 0.8s;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.vegas-container:hover {
    width: 380px;
    height: 380px;
}
/* change colour of progress bar, class found in vegas effect docs */
.vegas-timer-progress {
    background-color: #a37854;
}


img.staff {
    border-radius: 50%;
    width: calc(200px + 2vw);
    margin: 5%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    border: 3px solid transparent;
    transition: all 0.8s;
}

img.staff:hover {
    opacity: 0.95;
    border: 3px solid rgba(163, 120, 84, 1);
}

.color-section {
    background-color: rgba(254,181,78, 0.8);
}

.container-fluid {
    padding: 0;
    position: relative;
}

.pad-bot {
    padding-bottom: calc(20px + 2vh);
}

.navbar {
    background-color: rgba(133,125,121, 0.75);
    z-index: 4;
}

.navbar.sticky {
    flex-flow: row nowrap;
    position: fixed;
    width: 100%;
    align-items: center;
}

.nav-item {
    padding: 1rem 2.5 rem;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-weight: 550;
    margin: 0;
    border-radius: 6px;
}

.nav-link:hover {
    background-color: rgba(254,181,78, 0.9);
}

ol.carousel-indicators li {
    background-color: rgba(254,181,78, 0.9);
    margin-bottom: 25px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(254,181,78, 0.4);
    border-radius: 8px;
    padding: 20px;
}

img.about {
    width: auto;
    height: 470px;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.map iframe {
    width: 100%;
    vertical-align: top;
}
.map {
    background: grey;
    padding: 5px 0;
}

.booking-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-row {
    width: 80vw;
    justify-items: center;
    align-items: center;
}
.form-group {
    margin: 20px;
}

.form-control {
    font-size: calc(9px + 0.5vw);
}

.btn-lg {
    font-size: calc(10px + 0.8vw);
    background-color: rgb(68, 151, 68);
    border-color: transparent;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

#contact, footer {
    background-color: rgba(133,125,121, 0.75);
}

.card {
    margin: 15px auto 20px;
    background-color: rgb(182, 171, 157, 0.8);
    color: black;
    border: 3px solid rgba(254,181,78, 0.8);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    width: calc(200px + 5vw); 
}

.card-title {
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.social-icon {
    font-size: calc(20px + 1vw);
    padding: 4%;
    color: black;
}

.social-icon:hover {
    color: rgb(83, 64, 49);
}

a {
    color: rgb(83, 64, 49);
}

a:hover {
    color: black;
}

#backToTop {
    position: fixed; /* Fixed/sticky position */
    line-height: 1.3;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: rgba(128, 32, 0, 0.9);
    color: white;
    display: none;      
    /* to hide the top button as default and then only display when user scrolls down */
}

#backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

footer {
    line-height: 0.5;
    padding-bottom: 1%;
}